<h4>Input Daftar Toko</h4>

<div style="margin-left: 2%;" *ngIf="loading">Loading . . .</div>
<div style="margin-left: 2%; margin-right: 2%;" *ngIf="!loading">
    <p-toast position="top-left" key="toast"></p-toast>
    <tr style="width: 100%;" hidden="true">   
        <td><label>Id</label></td>
        <td><label style="margin: 12px;"> :</label></td>
        <td>
        <input pInputText type="text" [(ngModel)]="toko.id" style="width: 100%;"/>
        </td>
    </tr>
    <tr>   
        <td><label>Nama</label></td>
        <td><label style="margin: 12px;"> : </label></td>
        <td style="width: 100%;">
        <input pInputText type="text" [(ngModel)]="toko.nama" style="width: 100%;"/>
        </td>
    </tr>
    <tr>   
        <td><label>Contact</label></td>
        <td><label style="margin: 12px;"> : </label></td>
        <td>
        <input pInputText type="text" [(ngModel)]="toko.contact"a style="width: 100%;"/>
        </td>
    </tr>
    <tr>   
        <td><label>Telpon</label></td>
        <td><label style="margin: 12px;"> : </label></td>
        <td>
        <input pInputText type="text" [(ngModel)]="toko.telpon" style="width: 100%;"/>
        </td>
    </tr>
    <tr>   
        <td><label>Alamat</label></td>
        <td><label style="margin: 12px;"> : </label></td>
        <td>
        <input pInputText type="text" [(ngModel)]="toko.alamat" style="width: 100%;"/>
        </td>
    </tr>
    <tr>   
        <td style=" vertical-align:top"><label>Keterangan</label></td>
        <td style=" vertical-align:top"><label style="margin: 12px;"> : </label></td>
        <td>
        <textarea pInputText [(ngModel)]="toko.ket" style="width: 100%;" cols="40" rows="5"></textarea>
        </td>
    </tr>
    <tr>   
        <td></td>
        <td></td>
        <td style="width: 620px;">
            <label *ngIf="lHidden">Nama harus diisi</label>
            <br/>
            <label *ngIf="lDupe">Toko telah ada</label>
            <br/>
            <p-button (click)="insertMaterial()">Save Toko</p-button>
            <p>{{toko.id}} {{toko.nama}} {{toko.contact}} {{toko.telpon}} {{toko.alamat}} {{toko.ket}}</p>
        </td>
    </tr>
</div>
<br/>

<div>
    <div class="p-mb-3">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
    </div>
    <p-table [value]="listHasil" [paginator]="true" [rows]="rows"  [rowsPerPageOptions]="[10,30,50]" 
    [showCurrentPageReport]="true" [(first)]="first" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4%;" pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nama">Toko<p-sortIcon field="nama"></p-sortIcon></th>
                <th pSortableColumn="contact">Contact<p-sortIcon field="contact"></p-sortIcon></th>
                <th pSortableColumn="telpon">Telpon<p-sortIcon field="telpon"></p-sortIcon></th>
                <th pSortableColumn="alamat">Alamat<p-sortIcon field="alamat"></p-sortIcon></th>
                <th pSortableColumn="tanggal">Tanggal<p-sortIcon field="tanggal"></p-sortIcon></th>
                <th>Keterangan</th>
                <th>Success</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hasil >
            <tr>
                <td>{{hasil.id}}</td>
                <td>{{hasil.nama}}</td>
                <td>{{hasil.contact}}</td>
                <td>{{hasil.telpon}}</td>
                <td>{{hasil.alamat}}</td>
                <td>{{hasil.tanggal| date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{hasil.ket}}</td>
                <td>{{hasil.isSuccess}}</td>
                <td><p-button type="submit" (onClick)="edit(hasil)">Edit</p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div>