<h4>History Stock Material</h4>
<div style="margin-left: 2%;" *ngIf="loading">Loading . . .</div>
<div style="margin-left: 2%; margin-right: 2%;" *ngIf="!loading">
    <tr style="width: 100%;">   
        <td><label>Material</label></td>
        <td><label style="margin: 12px;"> :</label></td>
        <td>
            <p-autoComplete [(ngModel)]="selectedAuto" [suggestions]="listAuto" (completeMethod)="search($event)" [dropdown]="true" (onSelect)="getMid()">
            </p-autoComplete>
        </td>
    </tr>
    <tr hidden="true">   
        <td><label>Material</label></td>
        <td><label style="margin: 12px;"> : </label></td>
        <td style="width: 100%;">
            <p-dropdown [options]="listMaterial" [(ngModel)]="stock.mid" optionLabel="nama" optionValue="mid" style="width: 100%; height: 100%; "></p-dropdown>
        </td>
    </tr>
    <br/>
    <tr>   
        <td></td>
        <td></td>
        <td style="width: 256px;">
            <p-button (click)="refreshPembelian()">Show History</p-button>
        </td>
    </tr>
</div>
<br/>
<p>{{stock.mid}}</p>
<br/>

<div>
    <div class="p-mb-3">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
    </div>
    <p-table [value]="listHasil" [paginator]="true" [rows]="rows"  [rowsPerPageOptions]="[10,30,50]" 
        [showCurrentPageReport]="true" [(first)]="first" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4%;" pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="mnama">Material <p-sortIcon field="mnama"></p-sortIcon></th>
                <th pSortableColumn="perubahan">Perubahan <p-sortIcon field="perubahan"></p-sortIcon></th>
                <th pSortableColumn="tanggal">Tanggal <p-sortIcon field="tanggal"></p-sortIcon></th>
                <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                <th>Keterangan</th>
                <th>Id Pembelian</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hasil >
            <tr>
                <td>{{hasil.id}}</td>
                <td>{{hasil.mnama}}</td>
                <td>{{hasil.perubahan}}</td>
                <td>{{hasil.tanggal| date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{hasil.total}}</td>
                <td>{{hasil.ket}}</td>
                <td>{{hasil.pembelianId}}</td>
        </tr>
        </ng-template>
    </p-table>
    
</div>

