.divImage {
    max-width: 32%; 
    min-width: 400px;
    margin: auto; 
    flex: inherit; 
    text-align: center;
}

.divImageDesc {
    max-width: 64%; 
    margin: auto; 
    flex: inherit; 
    text-align: center;
}