<div style="text-align: LEFT; margin: auto;">

    <h2 hidden="true" style="height: 38px;">{{ title }}</h2>
    <br>

    <div #mesin_umkm id="mesin-umkm" style="text-align: center; margin: auto;">
        <h3><b>Mesin UMKM</b></h3>
        <br>
        <div style="align-content: center; display: flex; flex-wrap: wrap; ">
            <div class="divImage">
            <a href="assets/gambar/MPS_1_PK_3.jpg">
                <img  src="assets/gambar/MPS_1_PK_3.jpg" alt="Mesin Peras Santan 1 PK" 
                    style="max-width: 400px; max-height: 400px; " loading="lazy">
            </a>
            <p><Label>Mesin Peras Santan 1 PK</Label></p>
            </div>
            <div class="divImage">
            <a href="assets/gambar/MPS_2_PK.jpg">
                <img  src="assets/gambar/MPS_2_PK.jpg" alt="Mesin Peras Santan 2 PK" 
                    style="max-width: 400px; max-height: 400px; " loading="lazy">
            </a>
            <p><Label>Mesin Peras Santan 2 PK</Label></p>
            </div>
        </div>

        <div class="divImageDesc" style="max-width: 100%; margin-left: 18%; margin-right: 18%;">
        <br>
        <p>Mesin Peras Santan  menggunakan mesin Honda/Robin dengan desain sedemikian rupa yang memungkinkan mesin memeras santan sampai kadar air benar-benar habis, 
            serbuk/ampas yang dikeluarkan halus dan kering.
        </p>
        </div>
        
        <br>
        <div class="divImage">
            <a href="Mesin_Giling_Bumbu_dan_Cabe-rm.png">
                <img  src="assets/gambar/Mesin_Giling_Bumbu_dan_Cabe-rm.png" alt="Mesin Giling Bumbu dan Cabe" 
                    style="max-width: 400px; max-height: 400px; " loading="lazy">
            </a>
            <p><Label>Mesin Giling Bumbu dan Cabe</Label></p>
        </div>
        <br/>
    </div>

    <div #plasma_cutting id="plasma-cutting" style="text-align: center; margin: auto;">
        <h3><b>Jasa CNC Plasma Cutting</b></h3>
        <br>
        <div style="align-content: center; display: flex; flex-wrap: wrap; ">
            <div class="divImage">
            <a href="assets/contoh/Motif_56.png">
                <img  src="assets/contoh/Motif_56.png" alt="Motif Plasma 1" 
                    style="max-width: 400px; max-height: 400px;" loading="lazy">
            </a>
            <p><Label>Motif Bunga Potong Dalam</Label></p>
            </div>
            <div class="divImage">
            <a href="assets/contoh/Motif_55.png">
                <img  src="assets/contoh/Motif_55.png" alt="Motif Plasma 2" 
                    style="max-width: 400px; max-height: 400px;" loading="lazy">
            </a>
            <p><Label>Motif Bunga Potong Luar</Label></p>
            </div>
        </div>
        <div style="align-content: center; display: flex; flex-wrap: wrap; ">
            <div class="divImage">
            <a href="assets/gambar/huruf_2.JPG">
                <img  src="assets/gambar/huruf_2.JPG" alt="Huruf Plasma" 
                    style="max-width: 400px; max-height: 400px;" loading="lazy">
            </a>
            <p><Label>Huruf Plasma</Label></p>
            </div>
            <div class="divImage">
            <a href="assets/gambar/huruf_3.jpg">
                <img  src="assets/gambar/huruf_3.jpg" alt="Huruf Plasma" 
                    style="max-width: 400px; max-height: 400px;" loading="lazy">
            </a>
            <p><Label>Contoh Potongan Huruf Plasma</Label></p>
            </div>
        </div>
        <div style="align-content: center; display: flex; flex-wrap: wrap; ">
            <div class="divImage">
                <video width="400px" height="400px" controls loading="lazy">
                    <source src="assets/gambar/video_kunci.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
            <p><Label>Pemotongan Kunci</Label></p>
            </div>
            <div class="divImage">
                <video width="400px" height="400px" controls loading="lazy">
                    <source src="assets/gambar/video_motif.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
            <p><Label>Pemotongan Motif</Label></p>
            </div>
        </div>  
        <div style="align-content: center; display: flex; flex-wrap: wrap; ">
            <div class="divImage">
            <a href="assets/gambar/potong_motif.jpg">
                <img  src="assets/gambar/potong_motif.jpg" alt="Potong Motif" 
                    style="max-width: 400px; max-height: 400px;" loading="lazy">
            </a>
            <p><Label>Contoh Hasil Potong</Label></p>
            </div>
        </div>

        <div class="divImageDesc" style="max-width: 100%; margin-left: 18%; margin-right: 18%;">
            <br>
            <P>Pemotongan motif dan ornamen menggunakan plasma pada plat besi. Dapat juga pemotongan huruf. Silahkan menghubungi kami untuk desain yang lain.
            </P> 

            <div style="text-align: center;">
                <button (click)="downloadMyFile()" style="background: midnightblue; color: white;">Download Brosur CNC Plasma Cutting</button>
            </div>

            <a hidden="true" href="assets/Brosur CNC Plasma Cutting.pdf">
                <button>Download Brosur CNC Plasma Cutting</button>
            </a>
            <br/>
            <br/>
        </div>

        <div #tekuk_plat id="tekuk-plat" style="text-align: center; margin: auto;">
            <div #potong_plat id="potong-plat" >
            <h3><b>Jasa Potong Plat dan Tekuk Plat</b></h3>
            <br>
            <div style="align-content: center; display: flex; flex-wrap: wrap; ">
                <div class="divImage">
                <a href="assets/gambar/Hasil_Potong_Tekuk_3.jpg">
                    <img  src="assets/gambar/Hasil_Potong_Tekuk_3.jpg" alt="Hasil Potong Tekuk" 
                        style="max-width: 400px; max-height: 400px; " loading="lazy">
                </a>
                <p><Label>Hasil Potong Tekuk</Label></p>
                </div>
                <div class="divImage">
                <a href="assets/gambar/Potong_Plat.jpg">
                    <img  src="assets/gambar/Potong_Plat.jpg" alt="Proses Potong Plat" 
                        style="max-width: 400px; max-height: 400px; " loading="lazy">
                </a>
                <p><Label>Proses Potong Plat Oleh Teknisi Berpengalaman</Label></p>
                </div>
            </div>

            <div class="divImageDesc" style="max-width: 100%; margin-left: 18%; margin-right: 18%;">
                <br>
                <P>Jasa potong dan tekuk plat besi dengan minimal tebal / ketebalan 0.6 mm maximal Stainlesl Steel / SS 6 mm dan plat ST 8 mm dengan panjang 2.5 M.
                    Pemotongan dan tekuk lebih cepat karena menggunakan mesin baru tipe ESTUN dengan kontrol otomatis dan dikerjakan oleh yang sudah berpengalaman. 
                    Jasa lainnya ada roll, notching, scrap, milling dan bubut.
                </P> 
            </div>
            </div>
        </div>
    </div>
    
    <div style="text-align: center; margin: auto; max-width: 512px; ">
    </div>

</div>